# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Output files
*.json
*.csv
*.pdf

# Torch / TRT / cache
torch_compile_debug/
.triton/
*.plan

# Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Misc
tmp/
temp/
